<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="connectionStrings.config" />
  <system.web>
    <compilation configSource="compilation.config"/>
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" />
      </controls>
    </pages>
    <!-- Use custom authentication code.  This is required for CASAuthentication. -->
    <authentication mode="None" />
    <!-- Redirect common errors to user friendly pages. -->
    <!-- Uncomment to remove Yellow Screen, keep commented while debugging-->
    <customErrors defaultRedirect="~/GenericErrorPage.html" mode="On">
      <error statusCode="401" redirect="~/Unauthorized.html" />
      <error statusCode="403" redirect="~/NoAccess.html" />
      <error statusCode="404" redirect="~/FileNotFound.html" />
      <error statusCode="500" redirect="~/ServerError.html" />
    </customErrors>
    <!-- Add CASAuthentication HTTP module.  This is required. -->
    <httpModules>
      <add name="CASAuthenticationModule" type="CASAuthentication.CASAuthenticationModule" />
    </httpModules>
    <!-- By default, all pages require authenticated user. Change as required by your application. -->
    <authorization configSource="authorization.config"/>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />-->
  </system.web>
  <appSettings configSource="appSettings.config"/>
  <system.webServer>
    <modules>
      <add name="CASAuthenticationModule" type="CASAuthentication.CASAuthenticationModule" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>